awkward
uproot
pandas
numpy
matplotlib
dask[complete]
pyarrow
polars
scipy
graphviz
ipykernel
#numba
particle
vector
mplhep
numexpr
hist
histoprint
mpi4py
psutil
typing_extensions
dask-histogram
dask-awkward
awkward-pandas==2022.12a1
tqdm
